/* CSS for template.html */
/* * {
  box-sizing: border-box;
} */

body    {font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:dodgerblue;
    color:#000000;
    margin-top: 0;
    }

#pagewrapper {
  margin:0 auto;
    padding:0;
    width: 960px;
}

#submit {
    padding: 10px;
    margin: 10px;
    background-color: dodgerblue;
    color: white;
}

#form {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
}

h1:not([class='typeh1']) {
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
    font-size: xxx-large;
    background-color: darkblue;
    margin: 0;
    padding: 10px;
}

h2 {
    border-top: 2px inset darkblue;
    padding-top: .7em;
}

h2:first-child {
    border: none;
}

#submit {
    display: block;
    margin: 0 auto;
    font-size: medium;
    font-weight: bold;
    width: 300px;
}

#submit:hover {
    background-color: blue;
}

p {
    margin-bottom: 3em;
}

#result {
    font-size: large;
}

fieldset {
    border: none;
    margin: 0;
}

.typeh1 {
  padding: 0;
  text-align: left;
  color: red;
}

/* input {
    margin-right: 5px;
}

input[type='radio']:nth-child(even) {
    margin-left: 40px;
} */

label {
  width: 50%;
}

p {
  display: flex;
  /* gap: 10px; */
}

@media (max-width: 1000px) {
  #pagewrapper {
    max-width: 90%;
  }

  p {
    flex-flow: column wrap;
    /* width: calc(100vw - 10px);
    max-width: calc(100vw - 10px); */
  }

  #form {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  body {
    margin: 0 auto;
  }

  label {
    width: 90%;
    padding: 5px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    max-width: calc(100vw - 10px);
  }

  #submit {
    display: block;
    /* width: 90%; */
    margin: 0 auto;
    font-size: xx-large;
    padding: 13px;
    font-weight: bold;
  }

  
}