/* CSS for template.html */

body    {font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:dodgerblue;
    color:#000000;
    margin:0 auto;
    padding:0;
    width: 960px;
    }

#submit {
    padding: 10px;
    margin: 10px;
    background-color: dodgerblue;
    color: white;
}

#form {
    border: 2px solid black;
    background-color: white;
}

h1:not([class='typeh1']) {
    text-align: center;
    color: white;
}

h2 {
    border-top: 2px inset darkblue;
    padding-top: .7em;
}

h2:first-child {
    border: none;
}

#submit {
    margin-left: 430px;
}

p {
    margin-bottom: 3em;
}

#result {
    font-size: large;
}

fieldset {
    border: none;
}

.typeh1 {
  padding: 0;
  text-align: left;
  color: red;
}

/* input {
    margin-right: 5px;
}

input[type='radio']:nth-child(even) {
    margin-left: 40px;
} */

label {
  width: 50%;
}

p {
  display: flex;
  /* gap: 10px; */
}

@media (max-width: 1000px) {
  p {
    flex-flow: column wrap;
    width: calc(100vw - 10px);
    max-width: calc(100vw - 10px);
  }

  body {
    max-width: 100vw;
  }

  label {
    width: calc(100vw - 10px);
    max-width: calc(100vw - 10px);
    padding: 5px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    max-width: calc(100vw - 10px);
  }

  #submit {
    margin: 0 auto;
  }
}